.hidden {
    display: none;
}
#title {
    text-align: center;
    font-family: Marker Felt;
    font-size: 10em;
    -webkit-background-clip: text;
    text-shadow: 5px 5px 2px black;
    margin-top: 15%;
}