.title {
    text-align: center;
    font-family: Marker Felt;
    -webkit-background-clip: text;
    text-shadow: 5px 5px 2px black;
    margin-top: 0%;
}
.info {
    text-align: center;
    font-family: Marker Felt;
    font-size: 2em;
    -webkit-background-clip: text;
    text-shadow: 5px 5px 2px black;
    margin-top: 5%;
    margin-bottom: 5%;
}
